<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button aria-label="Home button" mat-icon-button [routerLink]="['/']">
      <mat-icon>home</mat-icon>
    </button>
    <button aria-label="Blog button" mat-icon-button [routerLink]="['/blog']">
      Blog
    </button>
    <button aria-label="Users button" mat-icon-button [routerLink]="['/user-list']">
      Users
    </button>
    <span class="spacer"></span>
    <button aria-lebel="Login button" mat-icon-button [routerLink]="['/login']">
      Login
    </button>
  </mat-toolbar-row>
</mat-toolbar>