/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body { height: 100%; }
body { 
  background: #303030;
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  color: #c1c1c1;
}

.spacer {
  flex: 1 1 auto;
}

.wrapper {
  border: 1px solid rgba(255, 255, 255, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  margin: 4px;
  display: block;
  padding: 20px;
}

.element {
  border: 1px solid rgba(255, 255, 255, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}

.element-title {
  background: #3e3e3e;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  font-weight: 400;
}

.element-body {
  padding: 30px;
}
