<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Console</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}"/>
</head>
<body>
<div th:replace="common/navigation :: navigation"></div>
<main role="main" class="container">
    <div class="jumbotron">
        <h1>Console panel</h1>
        <div>
            <ul class="nav nav-tabs" id="consoleTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="app-tab" data-toggle="tab" href="#app" role="tab" aria-controls="app"
                       aria-selected="true">App config</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="weather-tab" data-toggle="tab" href="#weather" role="tab"
                       aria-controls="weather" aria-selected="false">Weather</a>
                </li>
            </ul>
            <div class="tab-content" id="consoleTabContent">
                <div class="tab-pane fade show active" id="app" role="tabpanel" aria-labelledby="app-tab">
                    <div class="jumbotron">
                        <h3>Admin Panel Home</h3>
                        <hr/>
                        <div>
                            <form th:object="${addPropertyForm}" th:action="@{/console/addProperty}"
                                  method="post">
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label class="sr-only" for="inlineFormInputPropertyName">Property Name</label>
                                        <input type="text" class="form-control" th:field="*{name}"
                                               id="inlineFormInputPropertyName" placeholder="Name">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label class="sr-only" for="inlineFormInputPropertyValue">Value</label>
                                        <input type="text" class="form-control" th:field="*{value}"
                                           id="inlineFormInputPropertyValue" placeholder="Value">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="sr-only" for="inlineFormInputPropertyDescription">Description</label>
                                        <input type="text" class="form-control" th:field="*{description}"
                                    id="inlineFormInputPropertyDescription" placeholder="Description">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <button type="submit" class="btn btn-primary">Add</button>
                                    </div>
                                </div>

                                <div class="form-row text-danger" th:if="${#fields.hasErrors('name')}"><span class="px-2" th:text="${'Name'}"></span><span th:errors="*{name}"></span></div>
                                <div class="form-row text-danger" th:if="${#fields.hasErrors('value')}"><span class="px-2" th:text="${'Value'}"></span> <span th:errors="*{value}"></span></div>
                                <div class="form-row text-danger" th:if="${#fields.hasErrors('description')}"><span class="px-2" th:text="${'Description'}"></span><span th:errors="*{description}"></span></div>
                            </form>
                        </div>
                        <hr/>
                        <div th:if="${appProperties.size() > 0}">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-dark" th:each="property : ${appProperties}">
                                    <div>
                                        <span th:text="${property.property}"></span> : <span th:text="${property.value}"></span> :
                                        <span th:text="${property.description}"></span>
                                        <button class="btn btn-primary" type="button" data-toggle="collapse" aria-expanded="false"
                                                th:data-target="${'#' + property.property}">Edit</button>
                                        <form class="console-form-inline" method="post" th:action="@{/console/deleteProperty}">
                                            <input type="hidden" name="id" id="propertyId" th:value="${property.id}" />
                                            <button type="submit" name="submit" value="value" class="btn btn-secondary">Delete</button>
                                        </form>
                                        <div class="collapse" th:attr="id=${property.property}">
                                            <div class="card card-body">
                                                <form class="console-form-inline" method="post" th:object="${editPropertyForm}" th:action="@{/console/editProperty}">
                                                    <input type="text" th:name="name" th:value="${property.property}" />
                                                    <input type="text" th:name="value" th:value="${property.value}" />
                                                    <input type="text" th:name="description" th:value="${property.description}"/>
                                                    <button type="submit" name="submit" value="value" class="btn btn-secondary">Submit</button>

                                                    <div class="form-row text-danger" th:if="${#fields.hasErrors('name')}"><span class="px-2" th:text="${'Name'}"></span><span th:errors="*{name}"></span></div>
                                                    <div class="form-row text-danger" th:if="${#fields.hasErrors('value')}"><span class="px-2" th:text="${'Value'}"></span> <span th:errors="*{value}"></span></div>
                                                    <div class="form-row text-danger" th:if="${#fields.hasErrors('description')}"><span class="px-2" th:text="${'Description'}"></span><span th:errors="*{description}"></span></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="weather" role="tabpanel" aria-labelledby="weather-tab">
                    <div class="jumbotron">
                        Weather panel
                        <hr/>
                        <div>
                            <h3>Find Location</h3>
                            <form th:object="${addLocationForm}" th:action="@{/console/addLocation}" method="post">
                                <div class="row">
                                    <div class="form-group mx-sm-3 mb-2">
                                        <label for="locationName" class="sr-only">Name</label>
                                        <input type="text" class="form-control" th:field="*{locationName}"
                                               id="locationName" placeholder="Location name">
                                    </div>
                                    <div class="form-group mx-sm-3 mb-2">
                                        <button type="submit" class="btn btn-primary mb-2">Add Location</button>
                                    </div>
                                </div>
                            </form>
                            <hr/>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item dark-list-group-item" th:each="coord : ${monitoredCoords}">
                                    <span th:text="${coord.locationName}"></span>:<span
                                        th:text="${coord.longitude}"></span>, <span th:text="${coord.latitude}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</body>
</html>