#nav-bar {
  background-color: #1c1b1b;
  width: 100%;
}

#nav-bar h1 {
  margin: 8px 8px 8px 0;
}

.nav-button-row {
  display: table-cell;
  width: 490px;
}

.nav-button-row mat-button {
  margin: 8px 8px 8px 0;
}

.spacer {
  flex: 1 1 auto;
}
