<mat-toolbar id="nav-bar" color="primary">
  <h1 class="example-icon" aria-label="Emmy-app">
    Emmy-app
  </h1>
  <div class="nav-button-row">
    <mat-button routerLink="/">
      <span>Home</span>
    </mat-button>
    <mat-button routerLink="/weather">
      <span>Weather</span>
    </mat-button>
    <button id="redirect-button" (click)="redirectAction()">
      <span>Google Search</span>
    </button>
  </div>
  <span class="spacer"></span>
  <mat-button routerLink="/login">
    <span>Login</span>
  </mat-button>
</mat-toolbar>
