<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Signin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/login.css}"/>
</head>
<form class="form-signin" th:action="@{/add-user}" th:object="${userForm}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <div class="form-group">
        <label for="usernameInput">Username</label>
        <input type="text" th:field="*{username}" id="usernameInput" class="form-control" placeholder="Enter username" required autofocus/>
        <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="form-text text-danger"></small>
        <small th:if="${usernameError != null}" th:text="${usernameError}" class="form-text text-danger">Bad username</small>
    </div>
    <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="password" th:field="*{password}" id="passwordInput" class="form-control" placeholder="Password" required/>
        <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="form-text text-danger"></small>
    </div>
    <div class="form-group">
        <label for="emailInput">Email</label>
        <input type="email" th:field="*{email}" id="emailInput" class="form-control" placeholder="Enter email" required>
        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="form-text text-danger"></small>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
</body>
</html>