<div class="element">
  <div class="element-title">
    <div class="element-title-content spacer">Login</div>
  </div>
  <div class="element-body">
    <form class="example-form">
      <p>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Login" name="username" [(ngModel)]="login.username">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="login.password">
        </mat-form-field>
      </p>
      <p>
        <button mat-button (click)="loginAction()">Login</button>
      </p>
      <p>
        <button mat-button (click)="logoutAction()">Logout</button>
      </p>
    </form>
  </div>
</div>
