<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}"/>
</head>
<body>
<div th:replace="common/navigation :: navigation"></div>
<!-- TODO: Fix issue with main element under nav bar -->
<main role="main" class="container">
    <div class="jumbotron">
        <h1>Welcome, <span th:text="${user.username}"></span></h1>
        <button type="button" class="btn btn-primary" data-toggle="username-modal" data-target=".bs-example-modal-sm">Change username</button>

        <!-- Change username modal -->
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="changeUsernameModal">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    Change username:
                </div>
            </div>
        </div>
    </div>
</main>
<script th:src="@{webjars/jquery/3.5.0/jquery.min.js}"></script>
<script th:src="@{webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script th:src="@{webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</body>
</html>