<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}"/>
</head>
<body>
<div th:replace="common/navigation :: navigation"></div>
<!-- TODO: Fix issue with main element under nav bar -->
<main role="main" class="container">
    <div class="jumbotron">
        <h1>Welcome, <span th:text="${user.username}"></span></h1>
        <h6><span th:text="${user.email}" /></h6>
        <hr />
        <div th:if="${error != null}">
            <div th:text="${error}" class="alert alert-danger" role="alert"></div>
        </div>
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#changeUsernameCollapse" aria-expanded="false" aria-controls="changeUsernameCollapse">Change username</a>
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#changeEmailCollapse" aria-expanded="false" aria-controls="changeEmailCollapse">Change email</a>
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#changePasswordCollapse" aria-expanded="false" aria-controls="changePasswordCollapse">Change password</a>
        <div class="collapse" id="changeUsernameCollapse">
            <div class="profile-collapse">
                <form class="form-inline" th:action="@{/users/profile/changeUsername}" th:object="${modifyUserForm}" method="post">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="newUsername" class="sr-only">New Username</label>
                        <input type="text" th:field="*{username}" class="form-control" id="newUsername" placeholder="New username ...">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Save</button>
                </form>
            </div>
        </div>
        <div class="collapse" id="changeEmailCollapse">
            <div class="profile-collapse">
                <form class="form-inline" th:action="@{/users/profile/changeEmail}" th:object="${modifyUserForm}" method="post">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="newEmail" class="sr-only">New email</label>
                        <input type="text" th:field="*{email}" class="form-control" id="newEmail" placeholder="New email ...">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Save</button>
                </form>
            </div>
        </div>
        <div class="collapse" id="changePasswordCollapse">
            <div class="profile-collapse">
                <form class="form-inline" th:action="@{/users/profile/changePassword}" th:object="${modifyUserForm}" method="post">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="newPassword" class="sr-only">New password</label>
                        <input type="text" th:field="*{password}" class="form-control" id="newPassword" placeholder="New password ...">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Save</button>
                </form>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</body>
</html>