<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}"/>
</head>
<body>
<div th:replace="common/navigation :: navigation"></div>
<!-- TODO: Fix issue with main element under nav bar -->
<main role="main" class="container">
    <div class="jumbotron">
        <p>
            <a class="nav-link" th:href="@{/users}" tabindex="-1">Back to Users</a>
        </p>
        <p>
        <h2>Roles:</h2>
        <form class="form-inline" th:action="@{/add-role}" th:object="${roleForm}" method="post">
            <div class="form-group mb-2">
                <label for="roleNameInput" class="sr-only">Password</label>
                <input type="text" th:field="*{roleName}" id="roleNameInput" class="form-control"
                       placeholder="Enter rolename" required autofocus/>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Create Role</button>
            <div class="form-group mb-2">
                <small th:if="${roleNameError != null}" th:text="${roleNameError}" class="form-text text-danger">Bad role
                    name</small>
            </div>
        </form>
        <input class="form-control" id="filterInput" type="text" placeholder="Search..">
        </p>
        <h2>Roles</h2>
        </p>
        <table id="rolesTable" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Role</th>
            </tr>
            </thead>
            <tbody th:each="role : ${roles}" th:remove="tag">
            <tr>
                <th scope="row" th:text="${role.id}"/>
                <td th:text="${role.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
<script>
$(document).ready(function(){
  $("#filterInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#rolesTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>