html, body, main {
  height: 100%;
  background-color: #272727;
  color: #929292;
}

main {
    margin-top: 80px;
}

#logout-form {
    color: #fff
}


/* ========== Bootstrap override ========== */

/* Components */
.jumbotron {
    background-color: #313131;
}

/* Controls */
.btn-primary {
    background-color: #004998;
    border-color: #003671;
}

/* Table */
.table {
    color: #bbb;
}

/* Forms */
input.form-control, input.form-control:read-only {
    color: #bbb;
    background-color: #505050;
    border: 1px solid #353535;
}

input.form-control:focus {
    color: #bbb;
    background-color: #505050;
}
