<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/home.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">EmmyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="#" tabindex="-1">Configuration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/users}">Users <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/weather}" tabindex="-1">Weather</a>
            </li>
        </ul>
        <form id="logout-form" class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post"
              th:fragment="logout" sec:authorize="isAuthenticated()">
            <span class="mr-sm-2">Logged as: <span sec:authentication="name"></span></span>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>
<!-- TODO: Fix issue with main element under nav bar -->
<main role="main" class="container">
    <div class="jumbotron">
        <p>
            <h2>Registered users:</h2>
        </p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
            </tr>
            </thead>
            <tbody th:each="user : ${users}" th:remove="tag">
            <tr>
                <th scope="row" th:text="${user.id}"/>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.roles[0].name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>