<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}"/>
</head>
<body>
<div th:replace="common/navigation :: navigation"></div>
<main role="main" class="container">
    <div class="jumbotron">
        <p sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link" th:href="@{/users/roles?admin}" tabindex="-1">Roles</a>
        </p>
        <p>
        <h2>Registered users:</h2>
        <input class="form-control" id="filterInput" type="text" placeholder="Search..">
        </p>
        <table id="usersTable" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
            </tr>
            </thead>
            <tbody th:each="user : ${users}" th:remove="tag">
            <tr>
                <th scope="row" th:text="${user.id}"/>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.roles[0].name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
<script>
$(document).ready(function(){
  $("#filterInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#usersTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>

</body>
</html>